<h1>Register your account</h1>

<%= render "form" %>
<div class="form-container">
  <div class="form">
    <div>
Already have an account? Login <%=link_to "here", login_path  %>!
    </div>
  </div>
</div>
