/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* a{
  color: red
}


button {
  background-color: black !important;
  background: black;
} */

h1{
  text-align: center;
  font-family: 'Work Sans', sans-serif;
  font-size: 300%;
}

body{
}

body::after {
  content: "";
  background-image: url(https://i.imgur.com/O8AzbvC.jpg);
  background-size: cover;
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: -1;
}

.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
  align-content: center;
  flex-direction: row;
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.25);
  color: dark grey;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

img {
  max-width: 250px;
  max-height: 200px;
}

.topnav-right {
  float: right;
}

.h1-show{
  color:black;
  font-size:600%;
  text-shadow: 5px 5px rgba(223, 216, 146, 1);
  text-align: left;
}

.img-show{
  min-width: 400px;
  min-height: 400px;
  align-items: center;
}

.event-show{

  float: right;
}

/* Start of Artist Index */
.all-artists {
  padding: 20px;
  margin: 20px;
  width: 100vw;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}


.clickable-container {
  margin: 20px;
  position:relative;
  color:white;
  width:220px;
  display:block;
}

.clickable-container:hover {
  cursor:pointer;
  color:#fff490;
}

.overlay{
  display:none;
  text-align: center;
}

.clickable-container:hover .overlay {
  position:absolute;
  top:0;
  left:0;
  display: flex;
  flex-direction:column;
  justify-content:center;
  background: #1d1f21;
  border-radius: 5px;
  width:100%;
  height:100%;
  opacity:0.85;
}

.artist-image > img {
  padding:5px;
  background:#1d1f21;
  border-radius: 5px;
  display:block;
  width:220px;
  height:220px;
}

.overlay-content {
  font-size: 2rem;
}
/* End of Artist Index */

/* Artist Show Page */

.page-container {
  padding: 20px;
  margin: 20px;
  width: 100vw;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

img {
  max-width: 250px;
  max-height: 200px;
}

.topnav-right {
  float: right;
}

.h1-show{
  color:black;
  font-size:600%;
  text-shadow: 5px 5px rgba(223, 216, 146, 1);
  text-align: center;
}

.img-show{
  min-width: 500px;
  min-height: 500px;
  align-items: center;
  border-radius: 50px;
}

.h2-event-show {
  font-size: 30px;
}

.event-list {
  font-size: 20px;
}

.event-show {
  padding-right: 10%;
}

/* End artist show page */

/* Events Index Page */


.list-of-events {
list-style-type: none;
width: 650px;
}

h3 {
font: bold 25px/1.5 Helvetica, Verdana, sans-serif;
color: rgba(223, 216, 146, 1);
}

.event-index-image {
float: left;
margin: 0 15px 0 0;
border-radius: 50px;
}

li p {
font-size: 20px;
color: black;
}

li {
padding: 10px;
overflow: auto;
background-color: rgba(0, 0, 0, 0.30);
margin: 15px;
width: 100%;
}

li:hover {
background: #eee;
cursor: pointer;
}

/* End events index page */

/* begin User show Page */

.page {
  width: 500px;
  margin: auto;
  align-items: center;
  align-items: center;
}

.user-info {
  text-align: left;
  font-size: 18px;

}

.user-shows {
  margin: 20px;
  text-align: center;
}

.user-shows p {
  font-size: 18px;
  text-decoration: underline;
  font-weight: bold;
}

.user-show-events {
  color: rgba(0, 0, 0, 1);
}

.user-show-events:hover {
color: rgba(223, 216, 146, 1);
background: rgba(0, 0, 0, 0.30);
cursor: pointer;
}

.tic-to-see {

}

/* end of users show */
/* Events Show Page */

.event-show-page-container {
  display: flex;
  flex-direction: column;
}

.top-row-container {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: auto;
}

.second-row-container {
  margin-top: 50px;
  background-color: rgba(0,0,0,.2);
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: auto;
}

.third-row-container {
  margin-top: 50px;
  background-color: rgba(0,0,0,.2);
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: auto;
}

.show-page-box {
  min-width: 350px;
  min-height: 350px;
  border-radius: 50px;
  font-size: 150%;
}

.show-page-box img {
  min-width: 350px;
  min-height: 350px;
  align-items: center;
  border-radius: 50px;
}

.event-show-going-list {
  margin-top: -10px;
  margin-left: -250px;
  font-size: 20px;
  background: none
}

.event-show-going-list:hover {
  background: none
}
