/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* a{
  color: red
}


button {
  background-color: black !important;
  background: black;
} */

h1{
  text-align: center;
  font-family: 'Work Sans', sans-serif;
  font-size: 300%;
}

body{
}

body::after {
  content: "";
  background-image: url(https://i.imgur.com/O8AzbvC.jpg);
  background-size: cover;
  opacity: 0.35;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: -1;
}

.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
  align-content: center;
  flex-direction: row;
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.25);
  color: dark grey;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

img {
  max-width: 250px;
  max-height: 200px;
}

.topnav-right {
  float: right;
}

.h1-show{
  color:black;
  font-size:600%;
  text-shadow: 5px 5px rgba(223, 216, 146, 1);
  text-align: left;
}

.img-show{
  min-width: 400px;
  min-height: 400px;
  align-items: center;
}

.event-show{

  float: right;
}

/* Start of Artist Index */
.all-artists {
  padding: 20px;
  margin: 20px;
  width: 100vw;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}


.clickable-container {
  margin: 20px;
  position:relative;
  color:white;
  width:220px;
  display:block;
}

.clickable-container:hover {
  cursor:pointer;
  color:#fff490;
}

.overlay{
  display:none;
  text-align: center;
}

.clickable-container:hover .overlay {
  position:absolute;
  top:0;
  left:0;
  display: flex;
  flex-direction:column;
  justify-content:center;
  background: #1d1f21;
  border-radius: 5px;
  width:100%;
  height:100%;
  opacity:0.85;
}

.artist-image > img {
  padding:5px;
  background:#1d1f21;
  border-radius: 5px;
  display:block;
  width:220px;
  height:220px;
}

.overlay-content {
  font-size: 2rem;
}
/* End of Artist Index */

/* Artist Show Page */

.page-container {
  padding: 20px;
  margin: 20px;
  width: 100vw;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

img {
  max-width: 250px;
  max-height: 200px;
}

.topnav-right {
  float: right;
}

.h1-show{
  color:black;
  font-size:600%;
  text-shadow: 5px 5px rgba(223, 216, 146, 1);
  text-align: center;
}

.img-show{
  min-width: 500px;
  min-height: 500px;
  align-items: center;
}

.h2-event-show {
  font-size: 30px;
}

.event-list {
  font-size: 20px;
}

.event-show {
  padding-right: 10%;
}

/* End artist show page */
